@import "tailwindcss";

@font-face {
  font-family: 'IranSans';
  src: url('../public/Fonts/irsans.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IranSansBold';
  src: url('../public/Fonts/irsansb.ttf') format('truetype');
  font-weight: 1000;
  font-style: bold;
  font-display: swap;
}
.iransans {
  font-family: 'IranSans', sans-serif;
}
.iransansb {
  font-family: 'IranSansBold', sans-serif;
}
/* Basic reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
